#middle {
    position: relative;
    background: hsla(0,0%,100%,.3);
}
#mask-filter{
    position: fixed;
    top: 3rem;
    left: 0px;
    z-index: 20;
    width: 22%;
    height: calc(100% - 3rem);
    background: #000;
    opacity: 0.1;
    display: none;
}
#mask-navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    width: 100%;
    height: 3rem;
    background: #000;
    opacity: 0.1;
    display: none;
}
#mask-pageno{

}
.mask{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 8;
    height: 140px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
#navbar-container {
    align-content: center;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3rem;
    z-index: 5;
}
#navbar {
    margin-left: auto;
    margin-right: auto;
    /*background-color: #2874f0;*/
    background-image: linear-gradient(to bottom right, #2874f0, #00a1ff);
    width: 100%;
    height: 3rem;
}
#compare{
    height: 40px;
    background: transparent;
    width: 100%;
    margin:0px;
}
#compare-container{
    height: 40px;
    background: white;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
    width: 78%;
    margin: 0px;
}
.compare-click{
    width: 18%;
    height: 40px;
    padding-top: 7px;
    cursor: pointer;
    border-right: 1px solid #f1f3f6;
}
.compare-click:hover{
    background-color: #f1f3f6;
}

.compare-a{
    width: 30%;
    padding: 5px 1.75%;
    height: 40px;
}
#versus{
    padding:7px 4%;
    width: 10%;
}
.compare-b{
    width: 30%;
    padding: 5px 1.75%;
    height: 40px;
}
#apply-cancel{
    width: 12%;
    height: 100%;
    background-color: white;
    /* margin: 2px 0.5%; */
    padding-top: 6px;
    padding-bottom: 5px;
    /* border-radius: 5px; */
    border-left: 1px solid #f1f3f6;
    color: black;
    cursor: pointer;
}
#apply-cancel:hover{
    background-color: #f1f3f6;
}
.model-container{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 3px 10px;
    overflow: hidden;
    font-size: 13px;
    border: 1px solid #dadada;
}
.logo{
    height: 100%;
    width: 22%;
    border-top: 5px solid #2874f0;
    border-top-right-radius: 40px;
    text-align: center;
    background: #f1f3f6;
    color: white;
    padding: 5px 5px
}
#logo-design{
    width: 100%;
    height: 150%;
    border-radius: 50px 70px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background-color: #2874f0;
}
.search-box{
    height: 100%;
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px 20px;
}
.login{
    width: 10%;
    height: 100%;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    padding: 10px 0px;
}
.about{
    width: 10%;
    height: 100%;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    padding: 10px 0px;

}
.contact{
    width: 7%;
    height: 100%;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    padding: 10px 0px;
}
.search-input{
    width: 85%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
    border: none;
    padding-left: 30px;
    height: 37px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}
.search-input:focus{
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.23);
}
.search-icon{
    width: 10%;
    padding: 10px;
    height: 37px;
    padding: 7px 15px;
    background-color: white;
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#row-fmain {
    margin: auto;
    position: relative;
    width: 100%;
    background: #f1f3f6;
}
#main-col {
    background-color: white;
    margin-top: 50px;
    width: 78%;
    position: relative;
}

#main-body {
    width: 100%;
    position: relative;
}
.sortings{
    margin: 0px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #f1f3f6;
}
.filter-result{
    margin-left: 29%;
    width: 11%;
    height: 40px;
    padding-top: 10px;
    font-weight: bold;
    display: none;
}
.filter-result-count{
    width: 15%;
    display: none;
    height: 40px;
    padding-top: 10px;
    font-weight: bold;
}

.sort-by{
    width: 15%;
    height: 40px;
    padding-top: 10px;
    font-weight: bold;
}
.popularity{
    width: 15%;
    height: 40px;
    padding-top: 10px;
    color: #2874f0;
    cursor: pointer;
    font-weight: bold;
    box-shadow:inset 0 -10px 0px -6px #2874f0;
}
.popularity:hover{
    font-weight: bold;
    color: #2874f0;
}
.recommendation{
    width: 15%;
    height: 40px;
    cursor: pointer;
    padding-top: 10px;
}
.recommendation:hover{
    font-weight: bold;
    color: #2874f0;
}
#filter-container {
    margin-top: 20px;
    padding-right: 10px;
    width: 22%;
    min-height: 30rem;
    position: relative;
    background: #f1f3f6;
}
.filter-title-container{
    width: 100%;
}
.filter-selected-container{
    width: 100%;
}
.apply-filter{
    position: absolute;
    top: 0px;
    font-size: 13px;
    right: 0px;
    width: 65px;
    margin-left: 0px;
    padding: 8px 5px;
    border-left: 1px solid #f1f3f6;
    border-bottom: 1px solid #f1f3f6;
    cursor: pointer;
    display:none;
}
.apply-filter:hover{
    background: #f1f3f6;
    color: #2874f0;
}
.filter-selected{
    float: left;
    font-size: 12px;
    color: black;
    height: 20px;
    padding: 0px 5px;
    background: #dadada;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.filter-selected:hover{
    text-decoration: line-through;
}

#filters {
    position: fixed;
    width: 290px;
    background: white;
    margin: 0px;
    min-height: 600px;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
    overflow-y: scroll;
    z-index: 2;
}
.filters {
    position: fixed;
    width: 290px;
    background: white;
    margin: 0px;
    min-height: 600px;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
    overflow-y: scroll;
    visibility: hidden;
}
.filter-title{
    border-bottom: 1px solid #f1f3f6;
    width: 100%;
    padding: 7px 20px;
}
.filter-title span{
    font-weight: bold;
}
.filter-all{
    min-height: 40px;
    width: 100%;
    border-bottom: 1px solid #f1f3f6;
    padding-bottom: 10px;
}
.filter-brand{

}
.brand-select-div{
    width: 100%;
    height: 35px;
}
#brand-text{
    display: block;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 6px;
    margin-left: 40px;
}
#select-brand{
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #f1f3f6;
    height: 35px;
    margin-left: 20px;
    cursor:pointer;
}
#select-brand:hover{
    background-color: #f1f3f6;
}

.grid-row {
    height: 350px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid transparent;
    position: relative;
}

.grid-cols {
    width: 25%;
    height: 100%;
    border: 1px solid transparent;
    position: relative;
}
.grid-cols:hover {
    width: 25%;
    height: 100%;
    border: 1px solid transparent;
    position: relative;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
}
.thumbnails{
    height: 100%;
}
.img-container{
    width: 100%;
    height: 60%;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}
.title{
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    padding-top:0px;
    font-size: 1rem;
}

.price{
    text-align: center;
    font-weight: normal;
}
.like-dislike{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20%;
}
.like-container{
    width: 50%;
}
.like-icon{

}
.like-count{
    font-size: 0.9rem;
    color:slategrey;
}
.dislike-container{
    width: 50%;
}
.dislike-icon{

}
.dislike-count{
    font-size: 0.9rem;
    color:slategrey;
}
.page-row{
    width: 100%;
    height: 40px;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}
.next-page{
    width: 10%;
    border:1px solid transparent;
    height: 40px;
    text-align: center;
    color: #0087a6;
    margin-left: 10%;
    padding: 8px 0px;
    font-weight: bolder;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.35);
    cursor:pointer;
}
.prev-page{
    width: 10%;
    margin-left: 35%;
    border:1px solid transparent;
    height: 40px;
    background-color: #0087a6;
    text-align: center;
    color: white;
    padding: 8px 0px;
    font-weight: bolder;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.35);
    cursor: pointer;
}
.page-row div:hover{
    box-shadow: none;
    border:1px solid #dadada;
}
.left-spacing{
    width: 25%;
}
.right-spacing{
    width: 25%;
}
#footer {
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #3d3d3d;
    height: 150px;
}
h6{
    font-size: 0.9rem;
}
.brand-ul li{
    list-style-type: none;
    margin-top: 10px;
}

.brand-ul li#showmore{
    font-size: 14px;
    color: blue;
    cursor: pointer;
}
.cross-button{
    width: 20px;
    position: absolute;
    right: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
}
.cross-button:hover{
    background-color: maroon;
}
.brand-wrapper{
    height:100%;
    margin: 0px;
    width: 100%;
}
.brand-list{
    width: 100%;
}
.brand-list li{
    list-style-type: none;
    margin-top: 5px;
}
#all-brand-names{
    height: 600px;
    width: 100%;
    position: fixed;
    top: 140px;
    left: 0px;
    background-color: white;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
    z-index: 20;
    display:none;
}
.three-container{
    height: 100%;
    width: 15%;
    margin: 0px;
}
.three-container:nth-of-type(odd){
    background-color: #f5f9ff;
}
.os-ul li{
    list-style-type: none;
    margin-top: 10px;
}
#os-text{
    display: block;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 6px;
    margin-left: 40px;
}
.filter-text{
    display: block;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 6px;
    margin-left: 40px;
}
.os-list{
    width: 100%;
}
.os-list li{
    list-style-type: none;
    margin-top: 5px;
}
.filter-inp{
    width:100%;
    height:35px;
    margin: 0px;
}
.filter-inp i:first-of-type{
    padding-top: 10px;
    padding-left: 8px;
    color: #007eff;
    text-shadow: 1px 1px #9ffbff;
    display: none;
    cursor: pointer;
}
.filter-inp i:last-of-type{
    padding-top: 10px;
    padding-left: 8px;
    color: #ff0000;
    text-shadow: 1px 1px #ffd400;
    display:none;
    cursor: pointer;
}
.input-container{
    height: 35px;
    width: 35%;
    font-size: 14px;
    margin: 0px;
    border: 1px solid #dadada;
    border-radius: 3px;
}
.input-container:first-of-type{
    margin-left: 3%;
}
.input-container div{
    padding-top: 7px;
    font-size: 12px;
}
.to{
    height: 35px;
    width: 15%;
    font-size: 14px;
    padding-top: 5px;
}
.filter-input{
    width: 80%;
    height: 30px;
    padding-left: 10px;
    margin: 0;
    outline: none;
    border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input:disabled{
    background: white;
}