<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>com.controller.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>com.controller.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>mappedfile</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Details</servlet-name>
        <servlet-class>com.controller.Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>com.controller.Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fetch</servlet-name>
        <servlet-class>com.controller.Fetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageData</servlet-name>
        <servlet-class>com.controller.HomepageData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjax</servlet-name>
        <servlet-class>com.controller.SearchAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>com.controller.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>com.controller.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticated</servlet-name>
        <servlet-class>com.controller.Authenticated</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeDislike</servlet-name>
        <servlet-class>com.controller.LikeDislike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>com.controller.Comment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Details</servlet-name>
        <url-pattern>/Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/Filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fetch</servlet-name>
        <url-pattern>/Fetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageData</servlet-name>
        <url-pattern>/HomepageData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjax</servlet-name>
        <url-pattern>/SearchAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticated</servlet-name>
        <url-pattern>/Authenticated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeDislike</servlet-name>
        <url-pattern>/LikeDislike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
